
<app-menu-title></app-menu-title>

<div class="container__title">
    <h2>O QUE FAÇO?</h2>
    
</div>

<div class="container__articles">
   <div class="articles__others">
        <span>TESTE</span>
        <app-small-card
            modalTitle="A maior das Minhas Paixões"
            modalContent="Sou montanhista, escalador, etc"
            buttonTitle="MONTANHISTA"
        ></app-small-card>
    </div>
    <div class="articles__others">
        <span>TESTE</span>
        <app-small-card
        modalTitle="PROFISSÃO ATUAL"
        modalContent="TRABALHO COM PROJETOS EM INSTITUIÇÃO ESPORTIVA"
        buttonTitle="GESTOR ESPORTIVO"
        ></app-small-card>
    </div>
</div>

<div class="container__title">
    
    <h2><a [routerLink]="['portifolio']">PORTIFÓLIO</a></h2>
    
</div>

