<div class="container__menu-bar">
    <h4>WILLIAM SOUZA</h4>

    <div class="container__menu-buttons">
        <ul>
            <li class="buttonHome" routerLinkActive="activeButton" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['']" routerLinkActive="activeText"   [routerLinkActiveOptions]="{exact: true}">HOME</a>
            </li>
                
            <li class="buttonHome" routerLinkActive="activeButton" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/portifolio']" routerLinkActive="activeText" [routerLinkActiveOptions]="{exact: true}">PORTFOLIO</a>
            </li>

        </ul>

    </div>

</div> 
