/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: 'Quantico', sans-serif;
}

body{
    background-color: hsl(0, 0%, 12%);
}


a{ 
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
}
